.home {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.home-container {
	width: 40%;
	min-height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 1000px;
}

.card {
	cursor: pointer;
	transform-style: preserve-3d;
	text-align: center;
	max-height: 75vh;
	width: 35rem;
	border-radius: 30px;
	padding: 0rem 5rem;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.logo {
	min-height: 45vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.logo img {
	width: 30rem;
	z-index: 2;
}

.circle {
	width: 15rem;
	height: 15rem;
	background: linear-gradient(
		to right,
		rgba(237, 255, 0, 1),
		rgba(235, 87, 87, 0.75)
	);
	position: absolute;
	border-radius: 50%;
	z-index: 1;
}

.info h1 {
	font-size: 3rem;
	transition: all 0.075s ease;
}

.info p {
	font-size: 1.5rem;
	padding: 2rem 0rem;
	color: rgb(78, 78, 78);
	font-weight: bold;
	transition: all 0.075s ease;
}
